<%= content_for :title, "Materials" %>
<%= turbo_stream_from :materials %>

<div class="container px-4 mx-auto my-8">
  <div class="flex items-center justify-between mb-4">
    <div>
      <h1 class="h3">Materials</h1>

      <div class="text-sm font-medium">
        <span class="text-gray-500 dark:text-gray-300/75">Sort by:</span>
        <%= sortable @materials, :name, "Name", class: "text-gray-700 dark:text-gray-300 mr-1" %>
        <%= sortable @materials, :unit_size, "Unit size", class: "text-gray-700 dark:text-gray-300 mr-1" %>
        <%= sortable @materials, :unit_price, "Unit price", class: "text-gray-700 dark:text-gray-300 mr-1" %>
      </div>
    </div>

    <%= link_to t("shared.scaffold.new.title", model: "Material"), new_material_path, class: "btn btn-white" %>
  </div>

  <%= tag.div id: ("materials" if first_page?), class: "bg-white dark:bg-gray-900 dark:border dark:border-gray-700 rounded-md shadow p-6 space-y-8" do %>
    <%= render partial: "materials/index", collection: @materials, as: :material, cached: true %>

    <div class="hidden only:flex flex-col items-center justify-between lg:flex-row">
      <%= image_tag "empty.svg", class: "mb-4 lg:w-1/2" %>
      <div class="flex-1 text-center">
        <p class="mb-4 h3">Create your first Material</p>
        <%= link_to t("shared.scaffold.new.title", model: "Material"), new_material_path, class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>

  <% if @pagy.pages > 1 %>
    <div class="my-6 text-center">
      <%== pagy_nav(@pagy) %>
    </div>
  <% end %>
</div>
